<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script defer type="module" src="../js/vista_usuario.js"></script>
    <title>Cine</title>
</head>

<body>
    <div class="row bg-dark">
        <div class="col-2">
            <img src="../img/—Pngtree—cinema popcorn vector png_3247726.png" alt="LOGO"
                class="border border-warning border-3 m-2 rounded-circle position-absolute top-0 start-0" width=180px
                height=180px>
        </div>
        <div class="col-10">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-4 ps-5">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto mb-2">
                        <li class="nav-item ms-5">
                            <a class="nav-link" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item ms-5">
                            <a class="nav-link" href="#">Cartelera</a>
                        </li>
                        <li class="nav-item ms-5">
                            <a class="nav-link" href="#">Comprar Boleto</a>
                        </li>
                    </ul>
                    <form class="d-flex form-inline ">
                        <input class="form-control " type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-danger ms-2 text-white " type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <main class="container mw-100 ">
        <div class="row m-4 d-flex justify-content-center">
            <h3 class="col-3 text-center"> Bienvenido </h3>
            <p class="col-2 mt-4 nomUsuario">Nombre de Usuario</p>
            <div class="col-2">
                <div class="row">
                    <h3 class="col-12 ">puntos</h3>
                    <p class="col-12 ms-4 puntosUsuario">1000</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="col-12 text-center m-4 fw-bolder">Próximos Estrenos</h1>
            <div class="row">
                <div class="col-2 shadow-lg m-3 mt-5  h-75 d-flex flex-column justify-content-around text-center p-5 h-50  border border-secondary border-3 rounded-3">
                    <div class="btn-group">
                        <button type="button" class="btnEditarInformacion btn btn-warning">Editar Información</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">n</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item editNum" href="#">Número De Celular</a></li>
                          <li><a class="dropdown-item editNom" href="#">Nombre</a></li>
                        </ul>
                    </div>
                    <div  style="display:none;" class="edicion" >
                        <label for="edititarInformacion" id="labelEdit">Escriba su nombre</label>
                        <input type="text" class="w-100" id="edititarInformacion">
                        <button type="button" id="btnGuardar"class="btn btn-outline-danger mt-2">Guardar</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="btnEditContraseña"class="btn btn-warning">Cambiar Contraseña</button>
                    </div>  
                      <div class="editContraseña" style="display:none;" >
                        <label for="nuevaContraseña">Escriba su Nueva Contraseña</label>
                        <input type="text" class="w-100" id="nuevaContraseña">
                        <input type="text" class="w-100" id="nuevaContraseña">
                        <button type="button" id="btnGuardarContraseña" class="btn btn-outline-danger mt-2">Guardar</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="cerrarSesion"class="btn btn-warning">Cerrar Sesión</button>
                    </div>
                </div>
                <div class="col-7">
                    <div class="shadow-lg border border-dark border-2 rounded-3 m-3">
                        <div class="col-12 d-flex flex-wrap container-cards">
                            
                        </div>
                    </div>
                </div>
                <div class="col-2 shadow-lg ms-5 mb-5 ms-2 ps-5 border-start border-3 border-dark"">
                    <div class="d-flex flex-column " style="width: 12rem;">
                        <h3 class="fw-bolder fs-4 text-center m-3">Peliculas Destacadas</h3>
                        <hr>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner container-estrenos overflow-auto ">
                                
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <h3 class="fw-bolder text-center fs-5 m-3">Combo Destacado</h3>
                        <hr>
                        <img src="../img/burguer1.jpg" class="d-block w-100 mb-2" alt="publicidad">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="container mw-100">
        <div class="row bg-dark p-4 fs-4 text-white-50">
            <div class="col-3 m-3">
                <p class="">Nombre de la Sala</p>
            </div>
            <div class="col-3 m-3">
                <p class="">Número de soporte: xxx-xxx</p>
                <p class="">Correo Electronico: xxxxxx@xxxx.xxx</p>
            </div>
            <div class="col-3 m-3">
                <p class="">Dirección: xxx-xxxx-xx</p>

                <div class="d-flex">
                    <p class="">Redes Sociales</p>
                    <img src="../img/facebook.png" alt="" width=35px height=30px>
                    <img src="../img/instagram.png" width=30px height=30px alt="">
                </div>
            </div>
            <div class="col-2">
                <p>2022</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>


</body>

</html>